[flake8]

select =
    # ANN: annotations (type annotations)
    ANN,
    # B: bug-bear (bugs & design problems)
    B,
    # B9: bug-bear strict (bugs & design problems)
    B9,
    # BLK: black warnings (formatting)
    BLK,
    # C: McCabe (code complexity)
    C,
    # D: docstrings (style)
    D,
    # DAR: darglint (docstrings matches code)
    DAR,
    # E: pycodestyle (violation of PEP-8)
    E,
    # F: pyflakes (invalid Python code)
    F,
    # I: import order
    I,
    # PT: pytest style
    PT,
    # S: Bandit (security)
    S,
    # W: pycodestyle (violation of PEP-8)
    W

ignore =
    # E203: to match black standards
    E203,
    # W503: to match black standards
    W503,
    # E501: bug-bear already set it with a tolerance of 10% (B9)
    E501,
    # ANN101: missing type annotation for self, but hinting them all the time is useless
    ANN101,
    # ANN102: missing type annotation for cls but hinting them all the time is useless
    ANN102,
    # ANN401: it disallowed Any, but some elements should be Any when they are external
    ANN401

max-line-length = 88

per-file-ignores =
    # asserts are OK for tests
    test/*:S101
    # repeating the name of the function is OK for nox since it's to display it to the user
    noxfile.py:D402

# DOCSTRINGS
docstring-convention = google
