[flake8]
# F: pyflakes (invalid Python code)
# W & E: pycodestyle (violation of PEP-8)
# C: McCabe (code complexity)
# BLK: blake warnings (formatting)
# I: import order
# B & B9: bug-bear (bugs & design problems)
# S: Bandit (security)
# ANN: annotations (type annotations)
select = F,W,E,C,BLK,I,B,B9,S,ANN
# ignore E203 and W503 to match blake standards
# ignore E501 because bug-bear already set it with a tolerance of 10% (B9)
# ignore ANN101 and ANN102 because is missing type annotation for self and cls
# ignore ANN401 because it disallowed Any
ignore = E203,E501,W503,ANN101,ANN102,ANN401

# black
max-line-length = 88

# import order
application-import-names = hypermodern_python,test
import-order-style = google

# bandit
# disable warnings on asserts for tests
per-file-ignores = test/*:S101
